<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.softhouse.workingout">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Permission for internet -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- Permission for sensor driver usage in the application -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.things.permission.MANAGE_SENSOR_DRIVERS"/> <!-- Permission for foreground service permission (for notification, etc) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> <!-- Permission for step counter -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:name=".BaseApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApp">
        <receiver
                android:name=".listener.BootReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
                android:name=".alarm.active.ActiveAlarmActivity"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:showOnLockScreen="true"
                android:showWhenLocked="true"
                android:turnScreenOn="true"
                tools:ignore="LockedOrientationActivity"
                tools:targetApi="o_mr1" />

        <service android:name=".service.AlarmService" />
        <service android:name=".service.RescheduleAlarmsService" />

        <receiver
                android:name=".listener.AlarmReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="ACTION_ALARM_FIRED" />
                <action android:name="ACTION_SNOOZE" />
                <action android:name="ACTION_TURN_OFF" />
            </intent-filter>
        </receiver>


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".ui.MainActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".service.CompassService"
                android:foregroundServiceType="location"/>
        <service android:name=".service.StepTrackerService"/>
        <service
                android:name=".service.GeoTrackerService"
                android:foregroundServiceType="location"/>

        <receiver android:name=".listener.StopNotificationListener"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
    </application>

</manifest>